{% extends "base.html" %}

{% block content %}

    <p>
    {% for message in get_flashed_messages() %}
    	<div class="alert alert-danger">
        {% if dismissable %}
         	<button type="button" class="close" data-dismiss="alert">&times;</button>
        {% endif %}
         	{{ message }}
        </div>
    {% endfor %}
    <div class="center"></div>	
    {% if current_user.is_authenticated %}
        Hello {{ current_user.username }}
        {% include 'values.html' %}
	{% else %}
	    <h1> Welcome to the profit valuation app</h1><br>
    	<h2><strong><div class="glyphicon glyphicon">Login to Continue!</strong></h2></div>
	{% endif %}
{% endblock %}