{% extends "base.html" %}

{% block content %}
<div class="container">
    
    <p>
    {% for message in get_flashed_messages() %}
    	<div class="alert alert-danger">
        {% if dismissable %}
         	<button type="button" class="close" data-dismiss="alert">&times;</button>
        {% endif %}
         	{{ message }}
        </div>
    {% endfor %}
   
    <div class="center jumbotron">	
    {% if current_user.is_authenticated %}
        {% include 'auth/values.html' %}
	{% else %}
	    <h2> Profit Valuation App</h2><br>
        <p>This is an application that helps calculate profits made in a certain month.</p>
    	<p><a class="btn btn-primary btn-lg login-btn" href="/auth/login" role="button">Login to Continue!</a></p>
	{% endif %}
</div>
{% endblock %}
</div>